.faqs {
    padding: 0px 60px;
    margin-bottom: 100px;
}

.faqsHeading p {
    font-size: 30px;
    font-weight: bold;
}

.questions p {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
<<<<<<< HEAD
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
=======
    border: 1px solid hsl(0, 0%, 85%);
>>>>>>> c4e8d76 (Initial commit)
}


/* -----------Responsive--------- */
@media(max-width:480px) {
    .faqs{
        padding: 20px;
    }
    .faqsHeading p {
        font-size: 18px;
        font-weight: bold;
    }

    .questions p {
        margin-top: 20px;
        padding: 8px;
        font-size: 10px;
    }
}